/*
* Default styles
*/
h1, h2 {
  font-weight: 400;
}

h1 {
  text-align: center;
  margin: 0 0 32px;
}


/*
* Header
*/
body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f3f3f4;
}

.app {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #415ad4;
  color: #f3f3f4;
  padding: 32px;
}

.command {
  background: #2c44bd;
  color: #fff;
  font-family: monospace;
  margin: 12px auto;
  border-radius: 2px;
  padding: 12px 62px;
  box-sizing: border-box;
}

.description {
  margin-top: 24px;
}

section.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

section.nav a:hover {
  background: #5b70d6;
}
section.nav a {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background: #5166cf;
  border-radius: 3px;
}
section.nav a:not(:last-child) {
  margin-right: 8px;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/*
* Content and components
*/

.content {
  color: #444;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 800px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content h1 {
  margin: 32px 0 0;
}

.content p {
  padding: 0 3em;
  margin-bottom: 0;
  text-align: center;
}

.component-example {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(16, 17, 23, 0.1), 0 0 1px 0 rgba(16, 17, 23, 0.1);
  background-color: white;
  color: #49494d;
  padding: 1em;
  flex: 1;
  margin: 1em;
  overflow: hidden;
}
.side-by-side {
  display: flex;
}

.side-by-side .side {
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
}

.side-by-side .side + .side {
  padding-left: 3em;
  padding-right: 0;
  border-left: 1px solid #ddd;
}

.source-code-link {
  position: absolute;
  top: 0;
  right: 0;

  width: 1.3em;
  height: 1.3em;

  padding: 0.3em;
  background-color: #5b6fd61e;
  border-left: 1px solid #5b6fd657;
  border-bottom: 1px solid #5b6fd657;
  color: #5b6fd6a1;
  border-bottom-left-radius: 4px;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.component-example:hover .source-code-link {
  opacity: 1;
}

.nestable-list-empty {
  text-align: center;
}
